<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/style.css">
    </head>
	
    <body>
        <div class="spot-info">
            <b>Spot info</b>
	    <p style='color:{{facereg_color}}'>Facereg Status: {{facereg}}</p>
	    <p style='color:{{patrol_color}}'>Patrol Status: {{patrol}}</p>
	    <p style='color:{{estop_color}}'>Estop Status: {{estop}}</p>
        </div>
        <div class="button-container">
	    <!--
            <div class="facereg-enable">
                <a href="facereg-enable"><button type="button" class="block">Enable face registration</button></a>
            </div>
            <div class="facereg-disable">
                <a href="facereg-disable"><button type="button" class="block">Disable face registration</button></a>
            </div>
            <div class="patrol-enable">
                <a href="patrol-enable"><button type="button" class="block">Enable patrol mode</button></a>
            </div>
            <div class="patrol-disable">
                <a href="patrol-disable"><button type="button" class="block">Disable patrol mode</button></a>
            </div>
	    <div class="gripper-open">
		<a href="gripper-open"><button type="button" class="block">Open mouth</button></a>
	    </div>
	    <div class="gripper-close">
		<a href="gripper-close"><button type="button" class="block">Close mouth</button></a>
	    </div>
	    --!>
	    <div class="test animation1">
	        <a href="anim1"><button type="button" class="block">Test Anim1</button></a>
            </div>
            <div class="test animation2">
	        <a href="anim2"><button type="button" class="block">Test Anim2</button></a>
            </div>
            <div class="test animation3">
	        <a href="anim3"><button type="button" class="block">Test Anim3</button></a>
            </div>  
	    <div class="estop">
	        <a href="estop"><button type="button" class="block">Estop</button></a>
            </div>
            <div class="unestop">
	        <a href="unestop"><button type="button" class="block">Unestop</button></a>
            </div>
	    <div class="getestopstatus">
	        <a href="get-estop-status"><button type="button" class="block">Print Estop State</button></a>
            </div>
        </div>
    </body>
</html>
