<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/style.css">
    </head>
	
    <body>
        <div class="spot-info">
            <b>Spot info</b>
	    <!-- <p style='color:{{facereg_color}}'>Facereg Status: {{facereg}}</p> -->
	    <p style='color:{{patrol_color}}'>Patrol Status: {{patrol}}</p>
        </div>
        <div class="button-container">
            <div class="addface">
                <a href="addface"><button type="button" class="block">Add new face</button></a>
            </div>
            <div class="estop">
                <a href="estop"><button type="button" class="block">Estop</button></a>
            </div>
            <div class="unestop">
                <a href="unestop"><button type="button" class="block">Unestop</button></a>
            </div>
            <div class="testnotif">
                <a href="testnotif"><button type="button" class="block">Test notifications</button></a>
            </div>
        </div>
    </body>
</html>
